# Frontend (Vercel → Settings → Environment Variables)
VITE_SUPABASE_URL=https://ysoseiehaexmwkpssmdg.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_ONESIGNAL_APP_ID=1815d233-b8ca-4472-8c01-cb1a5c415cb4
VITE_VAPID_PUBLIC_KEY=BPgdX6Q28x3PO0PXObHluwMRI_9plHhaKnNWvsiMH5IKEHXvX054oREqc2wOKlVflhir2XgYP1AkdIWPHh_Umls
